<% if (stubs) { %>- <%= nameVar %> = YAML.load(File.read(File.expand_path('../../../data/styleguide/<%= nameVar %>_stubs.yml', __FILE__)))
<% } %>.card.styleguide-intro.copy--body.context--content
  .clearfix
    %h1.split--left.copy--title <%= name %>
  <% if (description) { %>%p.copy--body
  	<%= description %><% } %>
<% if (stubs) { %>- <%= nameVar %>.each_with_index do | stub, i |
  = sg_component('<%= nameVar %>', properties: stub, count: i)<% } %>